<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>enigma setting</title>
</head>
<body>


	<header>setting page</header>
	
	
	<form method="post" th:object="${settingEnigmaForm}" th:action="@{/enigma/insert}">
		
		<h3>router choice</h3>
		
		<p th:if="${routerSameError}" th:text="${routerSameError}">エラー内容</p>
		
		<div th:switch="${settingEnigma.router[0]}">
			<label>setting router1:</label>
			<span th:case="0">A</span>
			<span th:case="1">B</span>
			<span th:case="2">C</span>
			<span th:case="3">D</span>
			<span th:case="4">E</span>
		</div>
		<label>change to</label>
		<select id="router1" th:field="*{router1}">
			<option value=0></option>
			<option value=1>A</option>
			<option value=2>B</option>
			<option value=3>C</option>
			<option value=4>D</option>
			<option value=5>E</option>
		</select><br/>
		<br/>
		
		<div th:switch="${settingEnigma.router[1]}">
			<label>setting router2:</label>
			<span th:case="0">A</span>
			<span th:case="1">B</span>
			<span th:case="2">C</span>
			<span th:case="3">D</span>
			<span th:case="4">E</span>
		</div>
		<label>change to</label>
		<select id="router2" th:field="*{router2}">
			<option value=0></option>
			<option value=1>A</option>
			<option value=2>B</option>
			<option value=3>C</option>
			<option value=4>D</option>
			<option value=5>E</option>
		</select><br/>
		<br/>
		
		<div th:switch="${settingEnigma.router[2]}">
			<label>setting router3:</label>
			<span th:case="0">A</span>
			<span th:case="1">B</span>
			<span th:case="2">C</span>
			<span th:case="3">D</span>
			<span th:case="4">E</span>
		</div>
		<label>change to</label>
		<select id="router3" th:field="*{router3}">
			<option value=0></option>
			<option value=1>A</option>
			<option value=2>B</option>
			<option value=3>C</option>
			<option value=4>D</option>
			<option value=5>E</option>
		</select><br/>
		<br/>
		
		<h3>router start point</h3>
		
		<p>router1 setting start point: [[${settingEnigma.routerStartPoint[0]} + 1]]</p>
		<label>change to</label>
		<input type="number" min="1" max="26" id="router1StartPoint" name="router1StartPoint" th:field="*{routerStartPoint1}"/><br/>
		
		<p>router1 setting start point: [[${settingEnigma.routerStartPoint[1]} + 1]]</p>
		<label>change to</label>
		<input type="number" min="1" max="26" id="router2StartPoint" name="router2StartPoint" th:field="*{routerStartPoint2}"/><br/>
		
		<p>router1 setting start point: [[${settingEnigma.routerStartPoint[2]} + 1]]</p>
		<label>change to</label>
		<input type="number" min="1" max="26" id="router3StartPoint" name="router3StartPoint" th:field="*{routerStartPoint3}"/><br/>
		
		
		<h3>reverse router choice</h3>
		
		<p>reverse router: [[${reverseAlphabet}]]</p>
		<label>chenge to</label>
		<select id="reverseRouter" name="reverseRouter" th:field="*{reverseRouter}">
			<option value=0></option>
			<option value=1>F</option>
			<option value=2>G</option>
		</select><br/>
		
		<h3>plug board</h3>
		
		<div th:if="${plugError}">
			<p th:text="${plugError}">エラー内容</p>
		</div>
		
		
		<div>plug:A---[[${alphabet[0]}]]</div>
		<label>change to</label>
		<select id="a" th:field="*{plugBoard[0]}">
			<option value=0 ></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:B---[[${alphabet[1]}]]</div>
		<label>change to</label>
		<select id="b" th:field="*{plugBoard[1]}">
			<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>	
		</select>
		
		<div>plug:C---[[${alphabet[2]}]]</div>
		<label>change to</label>
		<select id="c" th:field="*{plugBoard[2]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:D---[[${alphabet[3]}]]</div>
		<label>change to</label>
		<select id="d" th:field="*{plugBoard[3]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:E---[[${alphabet[4]}]]</div>
		<label>change to</label>
		<select id="e" th:field="*{plugBoard[4]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		<br/>
		
		<div>plug:F---[[${alphabet[5]}]]</div>
		<label>change to</label>
		<select id="f" th:field="*{plugBoard[5]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:G---[[${alphabet[6]}]]</div>
		<label>change to</label>
		<select id="g" th:field="*{plugBoard[6]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:H---[[${alphabet[7]}]]</div>
		<label>change to</label>
		<select id="h" th:field="*{plugBoard[7]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:I---[[${alphabet[8]}]]</div>
		<label>change to</label>
		<select id="i" th:field="*{plugBoard[8]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:J---[[${alphabet[9]}]]</div>
		<label>change to</label>
		<select id="j" th:field="*{plugBoard[9]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		<br/>
		
		<div>plug:K---[[${alphabet[10]}]]</div>
		<label>change to</label>
		<select id="k" th:field="*{plugBoard[10]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:L---[[${alphabet[11]}]]</div>
		<label>change to</label>
		<select id="l" th:field="*{plugBoard[11]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:M---[[${alphabet[12]}]]</div>
		<label>change to</label>
		<select id="m" th:field="*{plugBoard[12]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:N---[[${alphabet[13]}]]</div>
		<label>change to</label>
		<select id="n" th:field="*{plugBoard[13]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:O---[[${alphabet[14]}]]</div>
		<label>change to</label>
		<select id="o" th:field="*{plugBoard[14]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		<br/>
		
		<div>plug:P---[[${alphabet[15]}]]</div>
		<label>change to</label>
		<select id="p" th:field="*{plugBoard[15]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:Q---[[${alphabet[16]}]]</div>
		<label>change to</label>
		<select id="q" th:field="*{plugBoard[16]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:R---[[${alphabet[17]}]]</div>
		<label>change to</label>
		<select id="r" th:field="*{plugBoard[17]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:S---[[${alphabet[18]}]]</div>
		<label>change to</label>
		<select id="s" th:field="*{plugBoard[18]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:T---[[${alphabet[19]}]]</div>
		<label>change to</label>
		<select id="t" th:field="*{plugBoard[19]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		<br/>
		
		<div>plug:U---[[${alphabet[20]}]]</div>
		<label>change to</label>
		<select id="u" th:field="*{plugBoard[20]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:V---[[${alphabet[21]}]]</div>
		<label>change to</label>
		<select id="v" th:field="*{plugBoard[21]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:W---[[${alphabet[22]}]]</div>
		<label>change to</label>
		<select id="w" th:field="*{plugBoard[22]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:X---[[${alphabet[23]}]]</div>
		<label>change to</label>
		<select id="x" th:field="*{plugBoard[23]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		
		<div>plug:Y---[[${alphabet[24]}]]</div>
		<label>change to</label>
		<select id="y" th:field="*{plugBoard[24]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>		
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>	
		</select>
		<br/>
		
		<div>plug:Z---[[${alphabet[25]}]]</div>
		<label>change to</label>
		<select id="z" th:field="*{plugBoard[25]}">
		<option value=0></option>
			<option value=1>A</option>		
			<option value=2>B</option>		
			<option value=3>C</option>		
			<option value=4>D</option>		
			<option value=5>E</option>		
			<option value=6>F</option>	
			<option value=7>G</option>		
			<option value=8>H</option>		
			<option value=9>I</option>		
			<option value=10>J</option>		
			<option value=11>K</option>		
			<option value=12>L</option>		
			<option value=13>M</option>		
			<option value=14>N</option>		
			<option value=15>O</option>		
			<option value=16>P</option>		
			<option value=17>Q</option>		
			<option value=18>R</option>		
			<option value=19>S</option>		
			<option value=20>T</option>		
			<option value=21>U</option>		
			<option value=22>V</option>		
			<option value=23>W</option>		
			<option value=24>X</option>		
			<option value=25>Y</option>		
			<option value=26>Z</option>		
		</select>
		<br/>
		
		
		
		
		<input type="submit" value="change">
		
		
	</form>
	
	<form th:action="@{/enigma}" method="GET">
		<input type="submit" value="back">
	</form>
	
</body>
</html>